force-app/main/default/flows/rollup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Cal_total_time</name>
        <label>Cal_total_time</label>
        <locationX>528</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>TotalBook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sojBookEntries.Number_Of_Books__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopBookEntries</targetReference>
        </connector>
    </assignments>
    <interviewLabel>rollup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rollup</label>
    <loops>
        <name>loopBookEntries</name>
        <label>loopBookEntries</label>
        <locationX>271</locationX>
        <locationY>217</locationY>
        <assignNextValueToReference>sojBookEntries</assignNextValueToReference>
        <collectionReference>socBookEntry</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cal_total_time</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Student</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>BookEntries</name>
        <label>BookEntries</label>
        <locationX>268</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopBookEntries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StudentId</elementReference>
            </value>
        </filters>
        <object>Book__c</object>
        <outputReference>socBookEntry</outputReference>
        <queriedFields>Number_Of_Books__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Student__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Student</name>
        <label>Update Student</label>
        <locationX>273</locationX>
        <locationY>367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StudentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Books__c</field>
            <value>
                <elementReference>TotalBook</elementReference>
            </value>
        </inputAssignments>
        <object>Students__c</object>
    </recordUpdates>
    <startElementReference>BookEntries</startElementReference>
    <status>Active</status>
    <variables>
        <name>socBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Book__c</objectType>
    </variables>
    <variables>
        <name>sojBookEntries</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Book__c</objectType>
    </variables>
    <variables>
        <name>StudentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TotalBook</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
